<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input id="initial-investment" type="number"
            name="initial-investment"
             [(ngModel)]="enteredInitialInvestment">
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input id="annual-investment" type="number"
            name="annual-investment"
            [(ngModel)]="enteredAnnualInvestment">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-investment">Expected Return</label>
            <input id="expected-investment" type="number"
            name="expected-investment"
            [(ngModel)]="enteredExpectedInvestment">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" type="number"
            name="duration"
            [(ngModel)]="enteredDuration">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
